p {
  font-family: monospace;
}

h2 {
  font-family: "Yeseva One", cursive;
}

h3 {
  font-family: "Yeseva One", cursive;
}

.city {
  display: block;
  margin: 0px auto;
  text-align: center;
}

.city-form {
  display: block;
  margin: 0px auto;
  text-align: center;
}

.city-name {
  text-align: right;
}

.font {
  font-family: "Yeseva One", cursive;
}

.font-size {
  font-size: 20px;
}

.text-align {
  text-align: center;
}

.emojis {
  font-size: 40px;
}

#temperature {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
}
.current-temp {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
}

.date-time {
  font-weight: bold;
  font-family: monospace;
}

.col-6 {
  font-family: monospace;
}

.temp {
  font-family: monospace;
}

.code {
  font-size: 10px;
}

#icon {
  max-width: 75px;
  max-height: 75px;
  position: absolute;
  right: 750px;
  top: 160px;
}

.units a {
  text-decoration: none;
  opacity: 0.7;
  font-family: monospace;
}

.divider {
  font-size: 15px;
  font-family: monospace;
  color: #3e2529;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
  font-size: 18px;
  font-family: monospace;
}

.weather-forecast-temperature-max {
  font-size: 18px;
  font-family: monospace;
}

.conversion-divider {
  font-family: monospace;
  opacity: 0.8;
}
